*{
  font-family:'Raleway', sans-serif;
  font-size:14pt;
  
}

body {
  width     :700px;
  margin    :20px auto;
  background: #f8f8f8;

  border    :1px solid #888;
}

html {
  background: ;
}

h3{
  font-weight: bold;
  font-size: 22px;
}
.center {
  text-align:center;
}

.subhead {
  font-weight:bold;
}

.taken, .error {
  color:red;
}

.available {
  color:green;
}

.whisper {
  font-style:italic;
  color     :#006600;
}


#used {
  margin-top:50px;
}